label{
    color: black
}

#description{
    width: 65rem;
    height: 10rem;
}

#home{
    background-image: url(../../../orange.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#con{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#d2{
    margin-top: 5rem;
    margin-bottom: 5rem,
}

#titre{
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}

i{
    font-size: 7rem;
    color: #337ab7;
}


span {
    color: red;
}