<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink='home'>Accueil</a></li>
      <li routerLinkActive="active"><a routerLink='events'>Evénements</a></li>
      <li routerLinkActive="active"><a routerLink='profile'>Profil</a></li>
      <li routerLinkActive="active"><a *ngIf="this.userService.eventInProgress" routerLink='gestion' (click)="go()">En cours</a></li>
      <li routerLinkActive="active"
      *ngIf='!connectionService.isConnected'><a routerLink='connection'>Connexion</a></li>
        <li routerLinkActive="active"
      *ngIf='connectionService.isConnected'><a routerLink='connection'
        >Déconnexion</a></li>
    </ul>

  </div>
</nav>
<div style="margin-top: -2rem" class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>